<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<form action="#"-->
<!--      th:action="@{'/api/companies/update/' + ${id}}"-->
<!--      th:method="POST"-->
<!--      th:object="${companies}">-->

<!--&lt;!&ndash;    <label for="name"></label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="name" th:field="${companies.get().}" placeholder="s">&ndash;&gt;-->
<!--&lt;!&ndash;    <br><br>&ndash;&gt;-->
<!--    <label for="courrse"></label>-->
<!--    <input id="courrse" th:field="${companies.get().locatedCountry}" placeholder="${c}">-->

<!--    <label for="datre"></label>-->
<!--    <input id="datre" th:field="${companies.get().id}" placeholder="${course.data}">-->
<!--    <br><br>-->
<!--    <button type="submit">save</button>-->

<!--</form>-->

<!--</body>-->
<!--</html>-->